<h2 id="title">Ember Experiments</h2>

<div class="panel panel-default">
  <div class="panel-body">
    Included libraries
    <ul class="list-group">
      <li class="list-group-item">Firebase</li>
    </ul>
  </div>
</div>

{{outlet}}
